/* Custom color theme properties */
:root {
  --f7-theme-color: #0055ff;
  --f7-theme-color-rgb: 0, 85, 255;
  --f7-theme-color-shade: #0047d6;
  --f7-theme-color-tint: #2970ff;
}

/* Your app custom styles here */