/* Custom color theme properties */
:root {
  --f7-theme-color: #00749f;
  --f7-theme-color-rgb: 0, 116, 159;
  --f7-theme-color-shade: #005676;
  --f7-theme-color-tint: #0092c8;
}

/* Your app custom styles here */